<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Front-End</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>WELCOME TO MANDIRI BONSIR!</h1>
        <p class="description">This is a website for explore potential GIRO served by Ibnu and Alfiansyah - ODP285.</p>
    
        <!-- Menu buttons -->
        <div>
            <a href="{{ url_for('menu_a') }}"><button>Customer Exposure</button></a>
            <a href="{{ url_for('menu_b') }}"><button>Alfin</button></a>
        </div>    
    </div>

    <!-- JavaScript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
